<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Accounting Salaries</title>
</head>

<body>

<div class="container">

    <div class="navbar align-items-center justify-content-between">
        <div>
            <h3><a th:href="@{/salaries/}" style="text-decoration: none">Accounting Salaries</a></h3>
        </div>
        <div sec:authorize="!hasRole('MANAGER')">
            <form action="#" th:action="@{/login}" method="GET">
                <input type="submit" value="Login"/>
            </form>
        </div>

        <div class="navbar align-items-center justify-content-between"
             sec:authorize="hasRole('MANAGER')"
             style="padding: 0">
            <div style="margin-right: 20px">
                <span><b>Username:</b></span>
                <span sec:authentication="principal.username"></span>
                <br>
                <span><b>Role:</b></span>
                <span sec:authentication="principal.authorities"></span>
            </div>
            <div>
                <form action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
    <hr>

    <div class="navbar align-items-center justify-content-between"
         sec:authorize="hasRole('MANAGER')"
         style="padding: 0">

        <div style="margin-bottom: 20px">
            <div th:if="${param.searchError}">
                <span style="color: red">This field is required for search</span>
            </div>
            <div th:if="!${param.searchError}" style="font-weight: 600;margin: 0">
                <span>Search</span>
            </div>
            <form th:action="@{/salaries/search}">
                <input type="text" placeholder="Text for search" name="query" th:value="${param.query}"/>
                <input type="submit" value="Search">
            </form>
        </div>

        <div>
            <form>
                <label>
                    <select name="sort">
                        <option value="idOrderByAsc">ID Sorted in ascending order</option>
                        <option value="idOrderByDesc">ID Sorted in descending order</option>
                        <option value="employeeIdOrderByAsc">Employee ID Sorted in ascending order</option>
                        <option value="employeeIdOrderByDesc">Employee ID Sorted in descending order</option>
                        <option value="employeeNameOrderByAsc">Employee Name Sorted in ascending order</option>
                        <option value="employeeNameOrderByDesc">Employee Name Sorted in descending order</option>
                        <option value="amountOrderByAsc">Amount Sorted in ascending order</option>
                        <option value="amountOrderByDesc">Amount Sorted in descending order</option>
                        <option value="currencyOrderByAsc">Currency Sorted in ascending order</option>
                        <option value="currencyOrderByDesc">Currency Sorted in descending order</option>
                    </select>
                </label>

                <input type="hidden" name="query" th:if="${param.query}"  th:value="${param.query}"/>

                <input type="submit" value="Sort">
            </form>
        </div>

        <div>
            <a sec:authorize="hasRole('MANAGER')" th:href="@{/employees/}"
               class="btn btn-dark btn-sm mb-3" style="float: right">
                Employees
            </a>

            <a sec:authorize="hasRole('MANAGER')" th:href="@{/departments/}"
               class="btn btn-dark btn-sm mb-3" style="float: right; margin-right: 5px">
                Departments
            </a>

            <a th:href="@{/datestamps/}"
               class="btn btn-dark btn-sm mb-3" style="float: right; margin-right: 5px">
                Date Stamps
            </a>
        </div>
    </div>

    <div th:if="${param.salaryNotFound}">
        <span style="color: red" th:text="'Not found salary with id - ' + ${param.salaryNotFound}"></span>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Amount</th>
            <th>Currency</th>
            <th sec:authorize="hasRole('MANAGER')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="salary : ${salaries}">

            <td th:text="${salary.id}" />
            <td th:text="${salary.employee.id}" />
            <td th:text="${salary.employee.firstName} + ' ' + ${salary.employee.lastName}" />

            <td th:text="${salary.amount}" />
            <td th:text="${salary.currency}" />

            <td sec:authorize="hasRole('MANAGER')">
                <div class="row">
                    <div class="col-small">
                        <form action="#" sec:authorize="hasRole('MANAGER')" th:action="@{/salaries/updateForm}">
                            <input type="hidden" name="salaryId" th:value="${salary.id}" />
                            <button type="submit" class="btn btn-info btn-sm me-1" style="float:left;">Update</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>