<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Update Date Stamp Form</title>
</head>
<body>


<div class="container">
    <p class="h4 mb-4">Update Date Stamp</p>
    <hr>
    <form action="#" th:action="@{/datestamps/update}"
          th:object="${dateStamp}" method="POST">

        <input type="hidden" th:field="*{id}">

        <span th:if="${param.error}" style="color: red">Something went wrong..</span>

<!--        <span th:if="${#fields.hasErrors('abbreviation')}" th:errors="*{abbreviation}" class="error"></span>-->
        Employment Date
        <input type="date" th:field="*{employmentDate}" placeholder="Employment Date"  class="form-control mb-4 w-25" />

<!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>-->
        Next Payment Date
        <input type="date" th:field="*{paymentDate}" placeholder="Next Payment Date"  class="form-control mb-4 w-25" />

        <input type="submit" value="Update" class="btn btn-info col-2">
    </form>
    <a th:href="@{/datestamps/}">Back to previous page</a>
</div>



</body>
</html>