<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Accounting Departments</title>
</head>

<body>

<div class="container">

    <div class="navbar align-items-center justify-content-between">
        <div>
            <h3>Accounting Departments</h3>
        </div>
        <div sec:authorize="!hasRole('MANAGER')">
            <form action="#" th:action="@{/login}" method="GET">
                <input type="submit" value="Login"/>
            </form>
        </div>

        <div class="navbar align-items-center justify-content-between"
             sec:authorize="hasRole('MANAGER')"
             style="padding: 0px">
            <div style="margin-right: 20px">
                <span><b>Username:</b></span>
                <span sec:authentication="principal.username"></span>
                <br>
                <span><b>Role:</b></span>
                <span sec:authentication="principal.authorities"></span>
            </div>
            <div>
                <form action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
    <hr>

    <div class="navbar align-items-center justify-content-between"
         sec:authorize="hasRole('MANAGER')"
         style="padding: 0">

        <a th:href="@{/departments/add}"
           class="btn btn-success btn-sm mb-3">
            Add Department
        </a>

        <div>
            <form>
                <label>
                    <select name="sort">
                        <option value="idOrderByAsc">ID Sorted in ascending order</option>
                        <option value="idOrderByDesc">ID Sorted in descending order</option>
                        <option value="abbreviationOrderByAsc">Abbreviation Sorted in ascending order</option>
                        <option value="abbreviationOrderByDesc">Abbreviation Sorted in descending order</option>
                        <option value="nameOrderByAsc">Department Name Sorted in ascending order</option>
                        <option value="nameOrderByDesc">Department Name Sorted in descending order</option>
                    </select>
                </label>
                <input type="submit" value="Sort">
            </form>
        </div>

        <div>
            <a th:href="@{/employees/}"
               class="btn btn-dark btn-sm mb-3" style="float: right">
                Employees
            </a>

            <a th:href="@{/salaries/}"
               class="btn btn-dark btn-sm mb-3" style="float: right; margin-right: 5px">
                Salaries
            </a>

            <a th:href="@{/datestamps/}"
               class="btn btn-dark btn-sm mb-3" style="float: right; margin-right: 5px">
                Date Stamps
            </a>
        </div>
    </div>

    <div th:if="${param.departmentNotFound}">
        <span style="color: red" th:text="'Not found department with id - ' + ${param.departmentNotFound}"></span>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Abbreviation</th>
            <th>Name</th>
            <th sec:authorize="hasRole('MANAGER')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">

            <td th:text="${department.id}" />
            <td th:text="${department.abbreviation}" />
            <td th:text="${department.name}" />

            <td sec:authorize="hasRole('MANAGER')">
                <div class="row">

                    <div class="col-small">
                        <form action="#" sec:authorize="hasRole('MANAGER')" th:action="@{/departments/updateForm}">

                            <input type="hidden" name="departmentId" th:value="${department.id}" />
                            <button type="submit" class="btn btn-info btn-sm me-1" style="float:left;">Update</button>

                        </form>

                        <form action="#" sec:authorize="hasRole('ADMIN')" th:action="@{/departments/delete}" method="POST">

                            <input type="hidden" name="departmentId" th:value="${department.id}" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this department?'))) return false">
                                Delete
                            </button>

                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>