<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Update Department Form</title>
</head>
<body>


<div class="container">
    <p class="h4 mb-4">Update Department</p>
    <hr>
    <form action="#" th:action="@{/departments/update}"
          th:object="${department}" method="POST">

        <input type="hidden" th:field="*{id}">

        <span th:if="${param.error}" style="color: red">Something went wrong..</span>

        <span th:if="${#fields.hasErrors('abbreviation')}" th:errors="*{abbreviation}" class="error"></span>
        Abbreviation
        <input type="text" th:field="*{abbreviation}" placeholder="Abbreviation"  class="form-control mb-4 w-25" />

        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
        Department's name
        <input type="text" th:field="*{name}" placeholder="Department's name" class="form-control mb-4 w-25"/>

        <input type="submit" value="Update" class="btn btn-info col-2">
    </form>
    <a th:href="@{/departments/}">Back to previous page</a>
</div>



</body>
</html>